<h1>Все смартфоны</h1>
<h3>@Model.PhoneCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (var phone in Model.AllPhones)
        {
    <div class="col-lg-4">
        <img class="img-thumbnail" src="@phone.Image" alt="@phone.Name"/>
        <h2>@phone.Name </h2>
        <p>@phone.ShortDesc</p>
        <p>Цена: @phone.Price.ToString("c")</p>
        <p><a class="btn btn-warning" href ="#">Подробнее</a></p>
    </div>
        }
    }
</div>